:root{
    --main-color: #FF9B27;
    --max-width: 960px;
}

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0; padding: 0; border: 0; font-family: 'Pretendard',ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    vertical-align: baseline; word-break: keep-all; box-sizing: border-box; letter-spacing: -1px;}
a{text-decoration: none; color:#333;}
a:hover{text-decoration: none;}
b{font-weight: 700;}
button{background: transparent; border: transparent; padding: 0; margin: 0;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-size: 1rem;line-height: 1; overflow-y: scroll}
html, body{height: 100%;}
ol, ul, li{list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ""; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

input[type="chekbox"] { display: none;;}
select{ font-size: 1rem; }
button:hover,
.form-control:hover,
.form-control:focus{ outline: unset; box-shadow: unset;}
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown){ padding: 0;}
